* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 10px;
    background-color: #03045e;
    color: #f5f5f5;
    margin: auto;
}

.title {
    text-align: center;
}

.tab {
    display: inline;
    text-decoration: underline;
    cursor: pointer;
}

.tab:hover {
    color: #00b4b8;
}

div input, .textarea {
    display: block;
    margin: 5px 0 10px;
    background-color: #fff;
    font-size: 1rem;
}

.textarea {
    height: 5rem;
    width: 100%;
}

.small-input {
    width: 3rem;
}

button {
    background-color: #90e0ef;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #00b4b8;
}

.add-btn {
    margin-top: 10px;
}

.other-btns {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.message {
    white-space: pre-line;
    margin-top: 50px;
    background-color: #caf0f8;;
    color: black;
    border-radius: 5px;
    padding: 10px;
}

@media (min-width: 320px) {
    body {
        width: 320px;
    }
}

@media (min-width: 640px) {
    body {
        width: 400px;
        font-size: 1.2rem;
    }
}